@font-face {
  font-family: 'HSESans';
  src: local('HSESans'), local('HSESans-Regular'),
       url('../fonts/HSESans-Regular.ttf') format('ttf'),
       url('../fonts/HSESans-Regular.woff') format('woff'),
       url('../fonts/HSESans-Regular.woff2') format('woff2');
}

body {
  font-family: 'HSESans', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'HSESans', sans-serif;
}
